[Unit]
Description=Thermal monitoring/logging service
After=mdns.service

[Service]
ExecStart=/bin/su root -c '/home/root/bin/start-thermal-monitor'
Restart=always
RestartSec=10s
Environment=NOBLE_REPORT_HCI_EVENTS=1

[Install]
WantedBy=default.target
